  /* Mobile Phone max 500px */
@media screen and (max-width: 500px) {
  header h1 {
    font-size: 1.2em;
  }

  main{
    margin-top: 150px;
  }

  .services h2 {
    font-size: 2em;
}

.hero h2 {
  font-size: 2em;
}

  .blog-box{
    width: 300px;
  }
}

  /* Mobile Phone 501px - 780px */
@media screen and (min-width: 500px) and (max-width: 780px) {
  
}

  /* Tablet  781px - 1023px */
@media screen and (min-width: 780px) and (max-width: 1023px) {
  main{
    margin-top: 200px;
  }

  nav ul li {
    display: inline;
    margin-right: 20px;
  }

  nav {
    display: block;
  }

  .blog-box{
    width: 300px;
  }

  .menu-button {
    display: none;
  }

  .group-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

  /* Large screen 1024px  and above*/
@media screen and (min-width: 1023px) {
  nav ul li {
    display: inline;
    margin-right: 20px;
  }

  header h1 {
    font-size: 2.5em;
  }

  nav ul li {
    font-size: 1.2em;
  }

  footer p {
    font-size: 1em;
  }

  nav {
    display: block;
  }

  .menu-button {
    display: none;
  }

  main{
    margin-top: 200px;
  }

  .hero-image {
    background-size:contain;
  }

  .blog-box{
    width: 350px;
  }

  .group-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
