.title{
    text-align: center;
    text-transform: capitalize;
    font-size: 3rem;
}

.content{
    margin-bottom: 30px;
}

.content img {
    max-width: 300px;
    height: 250px;
    padding: 10px;
}

.bullet{
    margin-left: 30px;
}

/* article{
    margin-left: 230px;
}

aside{
    width: 200px;
    height: 100%;
    float: left;
    background-color: blanchedalmond;
    padding: 10px;
    margin-right: 20px;
} */

/* quiz */
.quiz-container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background: #918383;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.question {
    margin: 20px 0;
}
.question h3 {
    margin: 0 0 10px;
}
.options {
    list-style: none;
    padding: 0;
}
.options li {
    margin: 10px 0;
}

.submit-btn{
    padding: 10px;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: #0073e6;
    color: aliceblue;
    border-radius: 10px;
    border: 2px solid darkblue;
}

.submit-btn:hover{
    cursor: pointer;
    background-color: #2894ff;
    border: 3px solid darkblue;
}

