

.general-container{
    padding: 10px;
    justify-items: center;
    align-items: center;
}

.group-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px;
    gap: 30px;
    justify-self: center;
    align-self: center;
}

.blog-box{
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px;

}

.blog-img{
    height: 200px;
}

/* Styles for the contact page */
  
  .contact h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .contact-info {
    margin-bottom: 30px;
  }
  
  .contact-info h3 {
    font-size: 1.2em;
    margin-top: 20px;
  }
  
  .contact-info p,
  .contact-info ul {
    margin: 5px 0;
  }
  
  .contact-info ul {
    list-style-type: none;
    padding: 0;
  }
  
  .contact-info ul li {
    display: inline;
    margin-right: 10px;
  }
  
  .contact-info ul li a {
    text-decoration: none;
    color: #0073e6;
  }
  
  .contact form {
    display: flex;
    flex-direction: column;
    border: 5px double black;
    padding: 20px;
  }
  
  .contact form label {
    margin-top: 10px;
  }
  
  .contact form input,
  .contact form textarea {
    margin-top: 5px;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .contact form button {
    margin-top: 20px;
    padding: 10px;
    font-size: 1em;
    background-color: #0073e6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .contact form button:hover {
    background-color: #005bb5;
  }

  .parent-container{
    display: flex;
    flex-direction: column;
  }

  .row-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 5px double black;
  }
  
  .icon-size{
    font-size:36px
  }

/*style for the about page*/
.about,
.mission-vision{
  background-color: #a89e9e;
  margin: 20px 0;
  padding: 20px;
  border-radius: 10px;
}

.about h2,
.mission-vision h3{
  font-size: 1.8em;
  margin-bottom: 10px;
}

.about p,
.mission-vision p {
  margin-bottom: 20px;
}

/*style for the services page*/
.services {
  background-color: #a89e9e;
  margin: 20px 0;
  padding: 20px;
  border-radius: 10px;
}

.services h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.service {
  margin-bottom: 20px;
}

.service h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.service p {
  margin-bottom: 20px;
}
